---
layout: page-6
published: true
last_modified_at: 2023-01-08
title: "rating"
---

  {%-assign posts = site.posts-%}
<li>
<span style="font-size: 100%; cursor: default; color: #777;" class="link1"> 
        {% for post in site.posts %}
           {% if post.category != 'book3' %}
      {{ post.title }}
  
  {% if post.rating == '1' %}
&#9733; &#9734; &#9734; &#9734; &#9734;
{% elsif post.rating == '2' %}
&#9733; &#9733; &#9734; &#9734; &#9734;
{% elsif post.rating == '3' %}
&#9733; &#9733; &#9733; &#9734; &#9734;
{% elsif post.rating == '4' %}
&#9733; &#9733; &#9733; &#9733; &#9734;
{% elsif post.rating == '5' %}
&#9733; &#9733; &#9733; &#9733; &#9733;
{% else %}
    <div style="visibility: hidden;"></div>
{% endif %}

            {% endif %}
        {% endfor %} 
  </span>
<div style="clear: both;"></div>

</li>
