---
layout: page-6
published: true
last_modified_at: 2021-07-16
title: "tl;dr"
---

    <!--<a name="top"></a>
<div style="text-align:right" class="link1"><i><a href="#bot">sayfa sonu</a></i></div>-->
 <!--<a name="bot"></a><div style="text-align:right" class="link1"><i><a href="#top">sayfa başı</a></i></div>-->

  <div>
  {% for post in site.posts %}
        <br />
  <a name="{{ post.url | split: "/" | last | replace: ".html","" }}" title="TLDR" href="/summary.html#{{ post.url | split: "/" | last | replace: ".html","" }}"> </a>
{% if post.tr != "" and post.tr != nil and post.tr != "-" %}
  <div class="link1"> <a href="{{ post.url }}">{{ post.tr }}</a> </div>
    {% else %}
  <div class="link1"> <a href="{{ post.url }}">{{ post.kitap }}</a> </div>
{% endif %}
    <div><i> {{ post.yazar }} </i></div>
    <div><i> {{ post.yil }} </i></div>
  <a href="{{ post.url }}"><img src="{{ post.image }}" width="18%" height=18%" align="right" float="right" alt="{{ post.kitap }}" title="{{ post.kitap }}" style="margin:18px 0 0 15px;"/></a>
  <p> 
      <div>
    {{ post.description }} 
      </div>
      <div>
    {% if post.eng %}
   <div class="link1">  
     <a name="{{ post.url | split: "/" | last | replace: ".html","" }}" title="English" href="/books.html#{{ post.url | split: "/" | last | replace: ".html","" }}">english</a>
  </div>
  {% else %}
    <div style="visibility: hidden;"></div>
{% endif %}
     <!-- <div># {{ post.tag }}</div> -->
         <div class="link1"> 
      <a href="{{ post.goodreads }}" target="_blank" rel="noreferrer,nofollow">goodreads</a> &nbsp; <img src="/assets/external_link.jpg" alt="external link" style="width:15px; height:15px; display: inline-block;">
      </div>
      </div>
    </p>
       <br />
    {% endfor %}
</div>
    <div style="clear: both;"></div>
<br />
      
      
