---
layout: page-3
published: true
last_modified_at: 2021-07-16
title: "#books"
---

<div>
  {% for post in site.posts %}
     <p>
  {% if post.eng %}
   <div class="link1">  
    <a name="{{ post.url | split: "/" | last | replace: ".html","" }}" href="/books.html#{{ post.url | split: "/" | last | replace: ".html","" }}">{{ post.kitap }}</a>
  </div>
    <div style="font-style: italic;> {{ post.yazar }} </div>
        <div style="font-style: italic;> {{ post.yil }} </div>
      <div> {{ post.eng }} </div>
   <br />
  {% else %}
    <div style="visibility: hidden;"></div>
{% endif %}
</p>
  
  {% endfor %}
</div>
