---
layout: page-3
published: true
last_modified_at: 2021-07-16
title: "#books"
---

<div>
  {% for post in site.posts %}
     <p>
  {% if post.eng %}
   <div class="link1">  
     <a name="{{ post.url | split: "/" | last | replace: ".html","" }}" href="/books.html#{{ post.url | split: "/" | last | replace: ".html","" }}">{{ post.kitap }}</a>
  </div>
  <div><i> {{ post.yazar }} </i></div>
  <div><i> {{ post.yil }} </i></div>
       <a href="{{ post.url }}"><img src="{{ post.image }}" width="18%" height=18%" align="right" float="right" alt="{{ post.kitap }}" title="{{ post.kitap }}" style="margin:18px 0 0 15px;"/></a>
      <div> {{ post.eng }} </div>
             <div class="link1">
         <a href="{{ post.url }}" title="Türkçe">TR</a> &nbsp; <div style="color: blue">|</div> &nbsp; <a name="{{ post.url | split: "/" | last | replace: ".html","" }}" title="too long; didn't read" href="/summary.html#{{ post.url | split: "/" | last | replace: ".html","" }}">tldr</a>
          </div>
   <br />
  {% else %}
    <div style="visibility: hidden;"></div>
{% endif %}
</p>
  {% endfor %}
</div>
<div style="clear: both;"></div>
<br />
         
