---
layout: page-5
title: 'kitaplık'
last_modified_at: 2021-07-08
---

  <!--<a href="#">
   <img alt="thebookishde" src="https://notes.thebookish.de/assets/new/placeholder.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="thebookishde"/></a>-->

  <!--
   <a href="/101-things-i-learned-in-law-school.html">
 <img alt="101 things i learned in law school" src="/assets/new/101-things-i-learned-in-law-school.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="101 things i learned in law school" /></a>

  <a href="/the-4-hour-workweek.html">
 <img alt="the 4-hour workweek" src="/assets/new/the-4-hour-workweek.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the 4-hour workweek" /></a>

  <a href="/keep-going.html">
 <img alt="keep going" src="/assets/new/keep-going.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="keep going" /></a>

  <a href="/101-things-i-learned-in-product-design-school.html">
 <img alt="101 things i learned in product design school" src="/assets/new/101-things-i-learned-in-product-design-school.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="101 things i learned in product design school" /></a>

  <a href="/ikigai-ken-mori.html">
 <img alt="ikigai | ken mogi" src="/assets/new/ikigai-ken-mogi.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="ikigai | ken mogi" /></a>

  <a href="/bullshit-jobs.html">
 <img alt="bullshit jobs" src="/assets/new/bullshit-jobs.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="bullshit jobs" /></a>

  <a href="/why-we-sleep.html">
 <img alt="why we sleep" src="/assets/new/why-we-sleep.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="why we sleep" /></a>

  <a href="/make-space.html">
 <img alt="make space" src="/assets/new/make-space.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;;" title="make space" /></a>

  <a href="/range.html">
 <img alt="range" src="/assets/new/range.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="range" /></a>

  <a href="/the-china-study.html">
 <img alt="the china study" src="/assets/new/the-china-study.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the china study" /></a>

  <a href="/talking-to-strangers.html">
 <img alt="talking to strangers" src="/assets/new/talking-to-strangers.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="talking to strangers" /></a>

  <a href="/the-cheese-trap.html">
 <img alt="the cheese trap" src="/assets/new/the-cheese-trap.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the cheese trap" /></a>

  <a href="/the-omnivores-dilemma.html">
 <img alt="the omnivore's dilemma" src="/assets/new/omnivores-dilemma.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the omnivore's dilemma" /></a>

  <a href="/bad-blood.html">
 <img alt="bad blood" src="/assets/new/bad-blood.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="bad blood" /></a>

  <a href="/how-starbucks-saved-my-life.html">
 <img alt="how starbucks saved my life" src="/assets/old/how-starbucks-saved-my-life.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="how starbucks saved my life" /></a>

  <a href="/what-they-teach-you-at-harvard-business-school.html">
 <img alt="what they teach you at harvard business school" src="/assets/old/what-they-teach-you-at-harvard-business-school.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="what they teach you at harvard business school" /></a>

  <a href="/crowdsourcing.html">
 <img alt="crowdsourcing" src="/assets/old/crowdsourcing.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="crowdsourcing" /></a>

  <a href="/blink.html">
 <img alt="blink" src="/assets/old/blink.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="blink" /></a>

  <a href="/work-rules.html">
 <img alt="work rules" src="/assets/old/work-rules.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="work rules" /></a>

  <a href="/the-consuming-instinct.html">
 <img alt="the consuming instinct" src="/assets/old/the-consuming-instinct.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the consuming instinct" /></a>

 <a href="/the-penguin-and-the-leviathan.html">
 <img alt="the penguin and the leviathan" src="/assets/old/the-penguin-and-the-leviathan.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the penguin and the leviathan" /></a>

 <a href="/why-we-buy.html">
 <img alt="why we buy" src="/assets/old/why-we-buy.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="why we buy" /></a>

  <a href="/inside-apple.html">
 <img alt="inside apple" src="/assets/old/inside-apple.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="inside apple" /></a>

  <a href="/happy-as-a-dane.html">
 <img alt="happy as a dane" src="/assets/old/happy-as-a-dane.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="happy as a dane" /></a>

  <a href="/eat-like-you-care.html">
 <img alt="eat like you care" src="/assets/old/eat-like-you-care.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="eat like you care" /></a>

  <a href="/the-shallows.html">
 <img alt="the shallows" src="/assets/old/the-shallows.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the shallows" /></a>

   <a href="/lagom-niki-brantmark.html">
 <img alt="lagom niki brantmark" src="/assets/old/lagom-niki-brantmark.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="lagom niki brantmark" /></a>

   <a href="/the-everything-store.html">
 <img alt="the everything store" src="/assets/old/the-everything-store.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the everything store" /></a>

   <a href="/solving-the-procrastination-puzzle.html">
 <img alt="solving the procrastination puzzle" src="/assets/old/solving-the-procrastination-puzzle.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="solving the procrastination puzzle" /></a>

<a href="/the-geography-of-bliss.html">
 <img alt="the geography of bliss" src="/assets/old/the-geography-of-bliss.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="the geography of bliss" /></a>

  <a href="/everything-we-know-is-wrong.html">
 <img alt="everything we know is wrong" src="/assets/old/everything-we-know-is-wrong.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="everything we know is wrong" /></a>

<a href="/fast-food-nation.html">
 <img alt="fast food nation" src="/assets/old/fast-food-nation.jpg" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 3%; width: 22%;" title="fast food nation" /></a>

<br /> 
-->

{% include image-gallery.html folder="/assets/new" %}
{% include image-gallery.html folder="/assets/old" %}
<div style="clear: both;"></div>
<br />

