---
layout: page-9
title: 'kategoriler'
---

<a name="malcolm-gladwell"></a>
<details>
    <summary><div class="cat2">Malcolm Gladwell</div></summary>
    <br />
{% for post in site.posts %}
    {% if post.yazar contains 'Malcolm Gladwell' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title }}</a></p>
    {% endif %}
{% endfor %}
</details>
<br />

<a name="alain-de-botton"></a>
<details>
    <summary><div class="cat2">Alain de Botton</div></summary>
    <br />
{% for post in site.posts %}
    {% if post.yazar contains 'Alain de Botton' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title }}</a></p>
    {% endif %}
{% endfor %}
</details>
<br />

<!--<details>
  <summary></summary>
</details>-->
<!--<a name="book3"></a>
<div>book3</div>

{% for post in site.posts %}
    {% if post.yil contains '2015' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title }}</a></p>
    {% endif %}
  {% endfor %}-->

<!--<a name="book2"></a>
<div>book2</div>

{% for post in site.categories.book2 %}
    <p class="cat1"><a href="{{ post.url }}">{{ post.title }}</a></p>
{% endfor %}-->

<br />

