---
layout: page-9
title: 'kategoriler'
---

<a name="kategoriler"></a>
  <details open>
    <summary>kategoriler</summary>
      <div class="cat1"><a href="#vegan">veganlık + hayvan hakları + etik</a> </div><br />
      <div class="cat1"><a href="#health">sağlık + beslenme + tıp</a> </div><br />
      <div class="cat1"><a href="#motivation">lifestyle + motivasyon + seyahat</a> </div><br />
      <div class="cat1"><a href="#planning">öğrenmeyi öğrenmek + üretkenlik ve teknoloji + yazmak ve yaratıcılık + zaman planlaması</a> </div><br />
      <div class="cat1"><a href="#fashion">moda + tasarım</a> </div><br />
      <div class="cat1"><a href="#architecture">mimarlık + mühendislik + endüstriyel tasarım</a> </div><br />
      <div class="cat1"><a href="#minimalism">minimalizm + sıfır atık yaşam</a> </div><br />
      <div class="cat1"><a href="#marketing">pazarlama + reklam + yönetim</a> </div><br />
      <div class="cat1"><a href="#consumer-behaviour">tüketici davranışları</a> </div><br />
      <div class="cat1"><a href="#technology">teknoloji + gelecek + yapay zeka + siber güvenlik + bilgisayar bilimi</a> </div><br />
      <div class="cat1"><a href="#science">fen bilimleri + küresel ısınma + sürdürülebilirlik + permakültür</a> </div><br />
      <div class="cat1"><a href="#media">dijital kültür + sosyal medya + medya</a> </div><br />
      <div class="cat1"><a href="#profile">biyografi + marka profili</a> </div><br />
      <div class="cat1"><a href="#work">çalışma yaşamı + kariyer + girişimcilik</a> </div><br />
      <div class="cat1"><a href="#behavioural">davranışsal iktisat</a> </div><br />
      <div class="cat1"><a href="#economics">ekonomi</a> </div><br />
      <div class="cat1"><a href="#social">sosyal bilimler + psikoloji + sosyoloji + felsefe + sosyal psikoloji</a> </div><br />
  </details>
    <br />

<a name="vegan"></a>
<div class="link1"><a href="#vegan">veganlık + hayvan hakları + etik</a></div>
{% for post in site.posts %}
    {% if post.tag == 'veganlık' or
          post.tag == 'hayvan hakları' or
          post.tag == 'etik' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="health"></a>
<div class="link1"><a href="#health">sağlık + beslenme + tıp</a></div>
{% for post in site.posts %}
    {% if post.tag == 'sağlık' or
          post.tag == 'beslenme' 
          post.tag == 'tıp' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="motivation"></a>
<div class="link1"><a href="#motivation">lifestyle + motivasyon + seyahat</a></div>
{% for post in site.posts %}
    {% if post.tag == 'lifestyle' or
          post.tag == 'motivasyon' or 
          post.tag == 'seyahat' %}      
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="planning"></a>
<div class="link1"><a href="#planning">öğrenmeyi öğrenmek + üretkenlik ve teknoloji + yazmak ve yaratıcılık + zaman planlaması</a></div>
{% for post in site.posts %}
    {% if post.tag == 'öğrenmeyi öğrenmek' or 
          post.tag == 'üretkenlik ve teknoloji' or
          post.tag == 'yazmak ve yaratıcılık' or
          post.tag == 'zaman planlaması' %}      
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="fashion"></a>
<div class="link1"><a href="#fashion">moda + tasarım</a></div>
{% for post in site.posts %}
    {% if post.tag == 'moda' or 
          post.tag == 'tasarım' %}      
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="architecture"></a>
<div class="link1"><a href="#architecture">mimarlık + mühendislik + endüstriyel tasarım</a></div>
{% for post in site.posts %}
    {% if post.tag == 'mimarlık' or
          post.tag == 'mühendislik' or 
          post.tag == 'endüstriyel tasarım' %}      
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="minimalism"></a>
<div class="link1"><a href="#minimalism">minimalizm + sıfır atık yaşam</a></div>
{% for post in site.posts %}
    {% if post.tag == 'sıfır atık yaşam' or
          post.tag == 'minimalizm' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="marketing"></a>
<div class="link1"><a href="#marketing">pazarlama + reklam + yönetim</a></div>
{% for post in site.posts %}
    {% if post.tag == 'pazarlama' or
          post.tag == 'reklam' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="consumer"></a>
<div class="link1"><a href="#consumer-behaviour">tüketici davranışları</a></div>
{% for post in site.posts %}
    {% if post.tag contains 'tüketici davranışları' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="technology"></a>
<div class="link1"><a href="#technology">teknoloji + gelecek + yapay zeka + siber güvenlik + bilgisayar bilimi</a></div>
{% for post in site.posts %}
    {% if post.tag == 'teknoloji' or
          post.tag == 'yapay zeka' or
          post.tag == 'gelecek' or
          post.tag == 'bilgisayar bilimi' or
          post.tag == 'siber güvenlik' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="science"></a>
<div class="link1"><a href="#science">fen bilimleri + küresel ısınma + sürdürülebilirlik + permakültür</a></div>
{% for post in site.posts %}
    {% if post.tag == 'fen bilimleri' or
          post.tag == 'küresel ısınma' or
          post.tag == 'sürdürülebilirlik' or
          post.tag == 'permakültür' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="media"></a>
<div class="link1"><a href="#media">dijital kültür + sosyal medya + medya</a></div>
{% for post in site.posts %}
    {% if post.tag == 'dijital kültür' or
          post.tag == 'sosyal medya' or
          post.tag == 'medya' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="profile"></a>
<div class="link1"><a href="#profile">biyografi + marka profili</a></div>
{% for post in site.posts %}
    {% if post.tag == 'biyografi' or
          post.tag == 'marka profili' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="work"></a>
<div class="link1"><a href="#work">çalışma yaşamı + kariyer + girişimcilik</a></div>
{% for post in site.posts %}
    {% if post.tag == 'çalışma yaşamı' or
          post.tag == 'kariyer' or
          post.tag == 'girişimcilik' or
          post.tag == 'yönetim' %}      
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="behavioural"></a>
<div class="link1"><a href="#behavioural">davranışsal iktisat</a></div>
{% for post in site.posts %}
    {% if post.tag contains 'davranışsal iktisat' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="economics"></a>
<div class="link1"><a href="#economics">ekonomi</a></div>
{% for post in site.posts %}
    {% if post.tag contains 'ekonomi' %}
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
    {% endif %}
{% endfor %}
    <br />

<a name="social"></a>
<div class="link1"><a href="#social">sosyal bilimler + psikoloji + sosyoloji + felsefe + sosyal psikoloji</a></div>
    {% for post in site.posts %}
        {% if post.tag == 'psikoloji' or
              post.tag == 'felsefe' or
              post.tag == 'sosyoloji' or
              post.tag == 'sosyal bilimler' or
              post.tag == 'sosyal psikoloji' %}      
      <p class="cat1"><a href="{{ post.url }}">{{ post.title | downcase }}</a></p>
        {% endif %}
    {% endfor %}
    <br />
