---
layout: page-6
published: true
last_modified_at: 2023-01-25
title: "TED videoları, belgeseller, podcastler, makaleler"
---

{% assign media1 = site.data.medialist | where: "type", "TEDVideo" | size %} {%
assign media2 = site.data.medialist | where: "type", "Belgesel" | size %} {%
assign media3 = site.data.medialist | where: "type", "Podcast" | size %} {%
assign media4 = site.data.medialist | where: "type", "Makale" | size %}

<a href="https://www.next52books.com/media/videos.html"
	><b>Videolar (TED, Talks at Google, etc)</b></a
>
{{ media1 }}
<br />
{% for item in site.data.medialist %} {% if item.type == "Video" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
<a href="https://www.next52books.com/media/documentaries.html"
	><b>Belgesel</b></a
>
{{ media2 }}
<br />
{% for item in site.data.medialist %} {% if item.type == "Belgesel" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
<a href="https://www.next52books.com/media/podcasts.html"><b>Podcast</b></a>
{{ media4 }}
<br />
{% for item in site.data.medialist %} {% if item.type == "Podcast" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
<a href="https://www.next52books.com/media/articles.html"><b>Makale</b></a>
{{ media3 }}
<br />
{% for item in site.data.medialist %} {% if item.type == "Makale" %}
<div
	class="decorated"
	style="font-size: 85%"
>
	<i>
		<a href="{{ item.url }}">{{ item.title }}</a>
	</i>
</div>
{% endif %} {% endfor %}
<br />
{% assign sample_data = site.data.medialist %} {% assign media = sample_data |
size %} toplam <i>{{ media }}</i>

<br />
