---
layout: page-6
published: true
last_modified_at: 2021-07-16
title: "#kitaplar '140karakter'"
---

<div>
  {% for post in site.posts %}
{% if post.tr != "" and post.tr != nil and post.tr != "-" %}
  <div class="link1"> <a href="{{ post.url }}">{{ post.tr }}</a> </div>
    {% else %}
  <div class="link1"> <a href="{{ post.url }}">{{ post.kitap }}</a> </div>
{% endif %}
  <span> {{ post.yazar }} | {{ post.yil }} </span>
      <p>{{ post.description }}</p>
  <img src="{{ post.image }}"/>
  {% endfor %}
</div>
<br />
