<button type="button" onclick="(copyEvent('copy'), myFunction())"><img src="/assets/copy.png" title="copy" alt="copy" style="width:15px; height:15px; display: inline-block;"/></button>
<span id="copy">
  <span class="link1" style="color: #777;">
  {{ site.url }}{{ page.url }}
    </span>
</span>
<span class="pop-up-text" id="copied"></span>

<script>
function copyEvent(id)
    {
        var str = document.getElementById(id);
        window.getSelection().selectAllChildren(str);
        document.execCommand("Copy")
    }
function myFunction() {
        document.getElementById("copied").textContent = "Copied!";
    }
</script>
