<span>
      <span class="link1" style="text-align: right; float: right; font-size: 85%;">
      <a href='/now.html'>şimdi</a> &nbsp; 
      <a href='/bookshelf.html'>kitaplık</a> &nbsp;
      <a href='/books.html'>english</a> &nbsp;
    </span>
<span class="link"22>
                <a href='/map.html' title='sitemap'><i class="far fa-map"></i></a> &nbsp;
                <a href="https://www.instagram.com/thebookish.de/" target="_blank" rel="noreferrer,nofollow" title="instagram"><i class="fab fa-instagram"></i></a> &nbsp;
                <a href="https://www.goodreads.com/thebookishde/" target="_blank" rel="noreferrer,nofollow" title="goodreads"><i class="fab fa-goodreads-g"></i></a>     
    </span> 
</span> 
<!-- home, archive -->
