<i>
   <center>
     <div class="link1">
       <a href="/now">şimdi</a> &nbsp; <a href="/map">başka ne var?</a>
     </div>
   </center>
 </i>
      <div style="width: 100%;">
  <div style="font-size: 85%; color: #777; float: left; margin-left: 45%;">
  {% if page.previous.url %}
    <a href="{{ page.previous.url }}"> <img src="https://www.nonfictionbooks.xyz/assets/left-arrow.jpg" style="width:25px; height:25px; display: inline-block;" title="{{ page.previous.title }}"/></a>
  {% endif %}
  </div>
      <div style="font-size: 85%; color: #777; float: right; margin-right: 45%;">
  {% if page.next.url %}
    <a href="{{ page.next.url }}"> <img src="https://www.nonfictionbooks.xyz/assets/right-arrow.jpg" style="width:25px; height:25px; display: inline-block;" title="{{ page.next.title }}"/> </i></a>
  {% endif %}
  </div>
</div> 
  </center>
