<center>
	<div class="link1">
		{%- unless page.url == "/" -%}<a href="/" title="home">nonfictionbooks.xyz</a>{%- endunless -%}
		{%- unless page.url == "/now" -%}<a href="/" title="now">şimdi</a>{%- endunless -%}
		{%- unless page.url == "/bookshelf" -%}<a href="/" title="bookshelf">kitaplık</a>{%- endunless -%}
		{%- unless page.url == "/sitemap" -%}<a href="/map" title="sitemap">başka ne var?</a>{%- endunless -%}
	</div>
</center>


<div id="content">
     <h3>Hello, this is a H3 tag</h3>

    <p>a pararaph</p>
</div>
<div id="editor"></div>
<button id="cmd">generate PDF</button>

<script>
var doc = new jsPDF();
var specialElementHandlers = {
    '#editor': function (element, renderer) {
        return true;
    }
};

$('#cmd').click(function () {
    doc.fromHTML($('#content').html(), 15, 15, {
        'width': 170,
            'elementHandlers': specialElementHandlers
    });
    doc.save('sample-file.pdf');
});


</script>
