<span style="text-align: left; float: left; font-size: 100%;">
  <center>
     <span class="link1">
      <a href='/posts.html'>kitaplar</a> /
      <a href='/now.html'>şimdi</a> / 
      <a href='/bookshelf.html'>kitaplık</a> /
      <a href='/books.html'>english</a> /
      <a href='/summary.html'>tl;dr</a> /
      <a href='/bookmarks.html'>bookmarks</a> /
      <a href="https://www.instagram.com/betterwithbooksandcoffee/" target="_blank" rel="noreferrer,nofollow" title="instagram">instagram</a> /
      <a href="https://www.goodreads.com/nonfictionbooksxyz/" target="_blank" rel="noreferrer,nofollow" title="goodreads">goodreads</a>     
    </span>
  </center>
</span> 
<!-- alternative to footer-link6.html  -->
