<span style="text-align: left; float: left; font-size: 100%;">
  <center>
          <span class="link1">
      <a href='/posts.html'>kitaplar</a> 
          </span> 
          <span style="color: #bbb"> 
      / 
          </span>
          <span class="link1">
      <a href='/now.html'>şimdi</a> 
          </span>
          <span style="color: #bbb"> 
      / 
          </span>
         <span class="link1">
      <a href='/bookshelf.html'>kitaplık</a>
          </span>
         <span style="color: #bbb"> 
      /
          </span>
          <span class="link1">
      <a href='/books.html'>english</a> 
          </span> 
          <span style="color: #bbb"> 
      /
          </span>
         <span class="link1">
      <a href='/summary.html'>tl;dr</a> 
          </span> 
          <span style="color: #bbb">  
      /
          </span>
          <span class="link1">
      <a href='/bookmarks.html'>bookmarks</a> 
          </span> 
          <span style="color: #bbb">  
      /
          </span>
          <span class="link1">
      <a href="https://www.instagram.com/next52books/" target="_blank" rel="noreferrer,nofollow" title="instagram">instagram</a> 
            </span> 
            <span style="color: #bbb">  
      /
            </span>
            <span class="link1">
      <a href="https://www.goodreads.com/nonfictionbooksxyz/" target="_blank" rel="noreferrer,nofollow" title="goodreads">goodreads</a>   
            </span>
    </span>
  </center>
</span> 
<!-- alternative to footer-link6.html  -->
