<style>
line {
  border-right: 2px solid #edf2f7;
  text-align: left;
  font-size: 100%;
}
</style>

<div class="line">
  <div class="link1">
      <a href='/posts.html'>kitaplar</a> 
   </div> 
   <div class="link1">
      <a href='/now.html'>şimdi</a> 
    </div>
   <div class="link1">
      <a href='/bookshelf.html'>kitaplık</a>
          </div>
   <div class="link1">
      <a href='/books.html'>english</a> 
    </div> 
    <div class="link1">
      <a href='/summary.html'>tl;dr</a> 
    </div> 
    <div class="link1">
      <a href='/bookmarks.html'>bookmarks</a> 
     </div> 
     <div class="link1">
       <a href="https://www.instagram.com/betterwithbooksandcoffee/" target="_blank" rel="noreferrer,nofollow" title="instagram">instagram</a> 
     </div> 
     <div class="link1">
       <a href="https://www.goodreads.com/nonfictionbooksxyz/" target="_blank" rel="noreferrer,nofollow" title="goodreads">goodreads</a>   
     </div>
    </div>
</div> 
