<div class="line1">
    <div class="link4">
      <a href='/bookshelf.html' title="kitaplık">kitaplık</a> 
    </div>
    <div class="link4">
      <a href='/2023.html' title="2023">&nbsp; 2023</a> 
    </div>
    <div class="link4">
      <a href='/2022.html' title="2022">&nbsp; 2022</a> 
    </div>
    <div class="link4">
      <a href='/2021.html' title="2021">&nbsp; 2021</a> 
    </div>
    
   <div class="link4">
      <a href='/books.html' title="english">english</a> 
    </div> 
    <div class="link4">
      <a href='/summary.html' title="tl;dr">tl;dr</a> 
    </div> 
    <div class="link4">
      <a href='/category.html' title="kategoriler">kategoriler</a> 
    </div> 
    <div class="link4">
      <a href='/bookmarks.html' title="bookmarks">bookmarks</a> 
     </div> 
    <div class="link4">
      <a href='/latestpost.html' title="güncel">güncel</a> 
    </div>
    <div class="link4">
      <a href='/reread.html' title="tekrar okumya deger kitaplar">tekrar okumaya değer kitaplar</a>
    </div>
    <div class="link4">
      <a href='/readinglist.html' title="okuma listesi">okuma listesi</a>
    </div>
    <div class="link4">
      <a href='/antilibrary.html' title="antilibrary">antilibrary</a>
    </div>
    
    <div class="link4">
      <a href='/media/videos.html' title="TED Videoları">🎥 ted videoları</a>
    </div>
    <div class="link4">
      <a href='/media/documentaries.html' title="Belgeseller">📺 belgeseller</a>
    </div>
    <div class="link4">
      <a href='/media/podcasts.html' title="Podcasts">🎙️ podcasts</a>
    </div>
   
    <div class="link4">
       <a href='https://affirmation.nonfictionbooks.xyz/' title="olumlamalar">&nbsp; olumlamalar</a>&nbsp;<img src="/assets/lotus.png" title="olumlamalar" alt="affirmation" style="width:25px; height:25px; display: inline-block; vertical-align: text-top;">
     </div> 
    <div class="link4">
       <a href='https://vegan.nonfictionbooks.xyz/' title="vegan tarifler">&nbsp; vegan tarifler</a>&nbsp;<img src="/assets/leaf.png" title="vegan tarifler" alt="vegan recipes" style="width:25px; height:25px; display: inline-block; vertical-align: text-top;">
     </div>
    <div class="link4">
       <a href='https://qotd.nonfictionbooks.xyz/' title="qotd">&nbsp; question of the day</a>&nbsp;<img src="/assets/plant.png" title="qotd" alt="qotd" style="width:25px; height:25px; display: inline-block; vertical-align: text-top;">
     </div>
    
     <div>
      <a href='/search.html' title="ara"><img src="/assets/search.jpg" alt="search" style="width:15px; height:15px; display: inline-block;"></a> 
     </div>
     <div>
      <a href='/randompost.html' title="random post"><img src="/assets/shuffle.jpg" alt="random post" style="width:15px; height:15px; display: inline-block;"></a> 
     </div>
    
     <div class="link4">
       <a href="https://www.instagram.com/hepkitaplakal/" target="_blank" rel="noreferrer,nofollow" title="instagram">instagram</a>&nbsp;<img src="/assets/external_link.jpg" alt="external link" style="width:10px; height:10px; display: inline-block; vertical-align: baseline;">
     </div> 
     <div class="link4">
       <a href="https://www.goodreads.com/nonfictionbooksxyz/" target="_blank" rel="noreferrer,nofollow" title="goodreads">goodreads</a>&nbsp;<img src="/assets/external_link.jpg" alt="external link" style="width:10px; height:10px; display: inline-block; vertical-align: baseline;">
     </div>
    
     <div>
       <img src="/assets/total.png" title="total number of posts" alt="total number of posts" style="width:25px; height:25px; display: inline-block; vertical-align: text-bottom;"> &nbsp; <i>{%-include numberofposts.html-%}</i>
    </div>
    <!-- <img src="https://emojicdn.elk.sh/🌲" style="width:15px; height:15px;" /> -->
</div> 

