<div class="line1">
    <div class="link4">
      <a href='/2021.html' title="2021">2021</a> 
    </div>
   <div class="link4">
      <a href='/books.html' title="english">english</a> 
    </div> 
    <div class="link4">
      <a href='/summary.html' title="tl;dr">tl;dr</a> 
    </div> 
    <div class="link4">
      <a href='/bookmarks.html' title="bookmarks">bookmarks</a> 
     </div> 
     <div class="link4">
      <a href='/search.html' title="ara">ara</a> 
     </div>
     <div class="link4">
      <a href='/randompost.html' title="random">?</a> 
     </div>
     <div class="link4">
       <a href="https://www.instagram.com/betterwithbooksandcoffee/" target="_blank" rel="noreferrer,nofollow" title="instagram">instagram &#8599;</a> 
     </div> 
     <div class="link4">
       <a href="https://www.goodreads.com/nonfictionbooksxyz/" target="_blank" rel="noreferrer,nofollow" title="goodreads">goodreads &#8599;</a>   
     </div>
    </div>
</div> 
