
<h4><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h4>

{{ site.posts.first.content }}

<a href="{{ site.posts.first.image }}" target="_blank"><img src="{{ site.posts.first.image }}" width="20%" height="20%" align="right" float="right" alt="{{ site.posts.first.kitap }}" title="{{ page.kitap }}" style="margin:10px 0 10px 15px"/></a>
<span style="font-size: 100%; color: #777;">
    {{ site.posts.first.kitap }}
      <br />
{% if site.posts.first.tr != "" and site.posts.first.tr != nil and site.posts.first.tr != "-" %}
   {{ site.posts.first.tr }} <br />
{% else %}
    <div style="visibility: hidden;"></div>
{% endif %}
    {{ site.posts.first.yazar }}
      <br />
    {{ site.posts.first.yil }}
      <br />
    {{ site.posts.first.sayfa }} sayfa
      <br />
    </span>
        
<div style="font-size: 130%; color: #777; text-align: left;">
    <a href="{{ site.posts.first.previous.url }}">&larr;</a>
  </div>
