--1--
<br />

{% for post in site.posts -%}
  {% assign currentMonth = "September 2021" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
    {% if currentMonth == postMonth and site.posts.size > 0 %}
        {% assign posts = site.posts %}
        {{ post.date | date: "%B %-d, %Y" }}<div><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% endif %} 
{% endfor %}

<br />
--1--
<br />
--2--
<br />

{% for post in site.posts -%}
  {% assign currentMonth = "September 2021" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
    {% if currentMonth == postMonth and site.posts.size == 0 %}
       {{ site.posts.first.date | date: "%B %-d, %Y" }} <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a>
      {% break %}
    {% endif %} 
{% endfor %}

<br />
--2--
<br />
--3--
<br />

{% for post in site.posts -%}
  {% assign currentMonth = "now" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
    {% if currentMonth == postMonth and site.posts.size > 0 %}
        {% assign posts = site.posts %}
        <span style="font-size: 100%; color: #777;">bu ayın kitapları:</span>
        <div style="font-size: 100%; color: #777;">{{ post.date | date: "%B %-d, %Y" }}&nbsp;<span><a href="{{ post.url }}">{{ post.title }}</a></span></div>
    {% endif %} 
{% endfor %}

<br />
--3--
<br />
--4--
<br />

{% for post in site.posts -%}
  {% assign currentMonth = "now" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
  {% assign sonYazi = site.posts.first -%}
    {% if currentMonth.date != sonYazi.date %}
        {% assign posts = site.posts %}
       <span style="font-size: 100%; color: #777;">bu haftanın kitabı:</span>
       <div style="font-size: 100%; color: #777;">{{ site.posts.first.date | date: "%B %-d, %Y" }} <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
      {% break %}
    {% endif %} 
{% endfor %}

<br />
--4--
<br />

