<br />
{% for post in site.posts %}
  {% assign currentMonth = "now" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" %}
    {% if currentMonth == postMonth and site.posts.size > 0 %}
        {% assign posts = site.posts %}
          <span><i>bu ayın kitapları:</i></span>
        <div style="font-size: 100%; color: #777; font-style: italic;">{{ post.date | date: "%B %-d, %Y" }}&nbsp;<span><a href="{{ post.url }}">{{ post.title }}</a></span></div>
    {% endif %} 
{% endfor %}

<br />

{% for post in site.posts -%}
  {% assign currentMonth = "now" | date: "%B %Y" %}
  {% assign postL = site.posts.first.date | date: "%B %Y" %}
    {% if currentMonth != postL %}
        {% assign posts = site.posts %}
          <span><i>bu haftanın kitabı:</i></span>
       <div style="font-size: 100%; color: #777; font-style: italic;">{{ site.posts.first.date | date: "%B %-d, %Y" }} <br /> <a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
      {% break %}
    {% endif %} 
{% endfor %}
