{% for post in site.posts -%}
  {% assign currentMonth = "now" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
    {% if currentMonth != postMonth and site.posts.currentMonth.size > 0 %}
        {{ site.posts.first.date | date: "%B %-d, %Y" }}<div><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
    {% break %}
    {% else %}
        {{ post.date | date: "%B %-d, %Y" }}<div><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% break %}
    {% endif %}
{% endfor %}

.

{% for post in site.posts -%}
  {% assign currentMonth = "December 2020" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
    {% if currentMonth != postMonth and site.posts.currentMonth.size > 0 %}
        {{ site.posts.first.date | date: "%B %-d, %Y" }}<div><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
    {% break %}    
    {% else %}
        {{ post.date | date: "%B %-d, %Y" }}<div><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% break %}
    {% endif %}
{% endfor %}

.

{% for post in site.posts -%}
  {% assign currentMonth = "September 2021" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
    {% if currentMonth != postMonth and site.posts.size > 0 %}
        {{ site.posts.first.date | date: "%B %-d, %Y" }}<div><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
    {% break %}    
    {% else %}
        {{ post.date | date: "%B %-d, %Y" }}<div><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% break %}
    {% endif %}
{% endfor %}

.

{% for post in site.posts -%}
  {% assign currentMonth = "September 2021" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
  {% case currentMonth %}
    {% when currentMonth != postMonth and site.posts.currentMonth.size > 0 %}
        {{ site.posts.first.date | date: "%B %-d, %Y" }}<div><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
    {% break %}    
    {% else %}
        {{ post.date | date: "%B %-d, %Y" }}<div><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% break %}
    {% endcase %}
{% endfor %}

.//

{% for post in site.posts -%}
  {% assign currentMonth = "now" | date: "%B %Y" %}
  {% assign postMonth = post.date | date: "%B %Y" -%}
  {% case currentMonth %}
    {% when site.posts.currentMonth.size > 0 %}
        {{ post.date | date: "%B %-d, %Y" }}<div><a href="{{ post.url }}">{{ post.title }}</a></div>
    {% else %}
        {{ site.posts.first.date | date: "%B %-d, %Y" }}<div><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></div>
    {% break %}
    {% endcase %}
{% endfor %}

.--
