        {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<div style="text-align: left; float: left;">{{ year.name }}</div>
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

{% for month in postsByMonth %}
<div style="text-align: left; float: right;">{{ month.name | downcase }}</div>
<div>
  {% for post in month.items %}
    <div>
      <a href="{{ post.url }}">{{ post.title | downcase }}</a> &nbsp; {{- post.date | date: '%e' -}}
    </div>
  {% endfor %}
</div>

{% endfor %}
{% endfor %}

