  {% assign postsByYear = site.posts | where_exp: "post", "post.category != 'affirmation'" | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<span style="color: #777; font-weight: bold;">{{ year.name }}</span>
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

{% for month in postsByMonth %}

<span style="text-align: right; float: right; color: #777; font-weight: bold;">
{% if month.name == 'January' %}
ocak
{% elsif month.name == 'February' %}
şubat
{% elsif month.name == 'March' %}
mart
{% elsif month.name == 'April' %}
nisan
{% elsif month.name == 'May' %}
mayıs
{% elsif month.name == 'June' %}
haziran
{% elsif month.name == 'July' %}
temmuz
{% elsif month.name == 'August' %}
ağustos
{% elsif month.name == 'September' %}
eylül
{% elsif month.name == 'October' %}
ekim
{% elsif month.name == 'November' %}
kasım 
{% elsif month.name == 'December' %}
aralık
{% endif %}
</span>
<br />
<p>
  {% for post in month.items %}
    <p>
      <div class="decorated" style="font-size: 100%;"><a href="{{ post.url | relative_url }}" {% if post.url == page.url %} class="active"{% endif %}>{{ post.title | downcase }}</a> &nbsp; <span style="text-align: right; float: right;">{{- post.date | date: '%e' -}}</span></div>
</p>
  {% endfor %}
</p>
{% endfor %}
  <br />
{% endfor %}

  <br />

<center> <div class="link1"><a href="#"><i>yukarı</i> &#8593;</a></div> </center>

<br />
