  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <p style="text-align: right;">{{ year.name }}</p> <!--<br />-->
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

{% for month in postsByMonth %}
<div style="text-align: right;">{{ month.name | downcase }}</div>
<div>
  {% for post in month.items %}
    <div>
      <a href="{{ post.url }}">{{ post.title | downcase }}</a>  &nbsp; <span style="text-align: right; float: right">{{- post.date | date: '%e' -}}</span>
    </div>
  {% endfor %}
</div>

{% endfor %}
{% endfor %}
