{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<em> <span style="color: #777;">{{ year.name }}</span> </em> 
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%-m'" %}

{% assign m = post.date | date: "%-d" %}
   {% capture m %}
     {% case m %}
      {% when '1' %}Januar
      {% when '2' %}Februar
      {% when '3' %}März
      {% when '4' %}April
      {% when '5' %}Mai
      {% when '6' %}Juni
      {% when '7' %}Juli
      {% when '8' %}August
      {% when '9' %}September
      {% when '10' %}Oktober
      {% when '11' %}November
      {% when '12' %}Dezember
     {% endcase %}
    {% endcapture %}
{% for month in postsByMonth %}

<em><span style="text-align: right; float: right; color: #777;"> {{ m.name }} </span></em><br />
<p>
  {% for post in month.items %}
    <p>
      <div class="decorated" style="font-size: 85%;"><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a> &nbsp; <span style="text-align: right; float: right">{{- post.date | date: '%e' -}}</span></div>
</p>
  {% endfor %}
</p>

{% endfor %}
{% endfor %}

<!--<a href="/summary.html#{{ post.url | split: "/" | last | replace: ".html","" }}">tl;dr</a>-->


