<br />
  <span style="font-size: 85%; cursor: default; color: #777;"> #
   {% if page.tag == 'veganlık' or
         page.tag == 'hayvan hakları' or
         page.tag == 'etik' %}
      <a href="/category.html#vegan">{{ page.tag | join: ' #' }}</a>
  
    {% elsif post.tag == 'sağlık' or
            post.tag == 'beslenme' or
            post.tag == 'tıp' %}
      <a href="/category.html#health">{{ page.tag | join: ' #' }}</a>

    {% elsif post.tag == 'lifestyle' or
            post.tag == 'motivasyon' or 
            post.tag == 'seyahat' or
            post.tag == 'yaratıcılık' %}     
      <a href="/category.html#motivation">{{ page.tag | join: ' #' }}</a>
  
    {% elsif post.tag == 'öğrenmeyi öğrenmek' or 
            post.tag == 'üretkenlik ve teknoloji' or
            post.tag == 'yazmak ve yaratıcılık' or
            post.tag == 'zaman planlaması' %}   
       <a href="/category.html#planning">{{ page.tag | join: ' #' }}</a>

    {% elsif post.tag == 'moda' or 
             post.tag == 'tasarım' %} 
        <a href="/category.html#fashion">{{ page.tag | join: ' #' }}</a>

     {% elsif post.tag == 'mimarlık' or
              post.tag == 'mühendislik' or 
              post.tag == 'endüstriyel tasarım' %} 
         <a href="/category.html#architecture">{{ page.tag | join: ' #' }}</a>

     {% elsif post.tag == 'sıfır atık yaşam' or
              post.tag == 'minimalizm' %}
         <a href="/category.html#minimalism">{{ page.tag | join: ' #' }}</a>

      {% elsif post.tag == 'pazarlama' or
               post.tag == 'reklam' %}
         <a href="/category.html#marketing">{{ page.tag | join: ' #' }}</a>

      {% elsif post.tag contains 'tüketici davranışları' %}
         <a href="/category.html#consumer">{{ page.tag | join: ' #' }}</a>

       {% elsif post.tag == 'teknoloji' or
                post.tag == 'yapay zeka' or
                post.tag == 'gelecek' or
                post.tag == 'bilgisayar bilimi' or
                post.tag == 'siber güvenlik' %}
          <a href="/category.html#technology">{{ page.tag | join: ' #' }}</a>

       {% elsif post.tag == 'fen bilimleri' or
                post.tag == 'küresel ısınma' or
                post.tag == 'sürdürülebilirlik' or
                post.tag == 'permakültür' %}
          <a href="/category.html#science">{{ page.tag | join: ' #' }}</a>

        {% elsif post.tag == 'dijital kültür' or
                 post.tag == 'sosyal medya' or
                 post.tag == 'medya' or
                 post.tag == 'iletişim' %}
          <a href="/category.html#media">{{ page.tag | join: ' #' }}</a>

        {% elsif post.tag == 'biyografi' or
                  post.tag == 'marka profili' %}
          <a href="/category.html#profile">{{ page.tag | join: ' #' }}</a>
         
         {% elsif post.tag == 'çalışma yaşamı' or
                  post.tag == 'kariyer' or
                  post.tag == 'girişimcilik' or
                  post.tag == 'hukuk' or
                  post.tag == 'yönetim' %}   
            <a href="/category.html#work">{{ page.tag | join: ' #' }}</a>

          {% elsif post.tag contains 'davranışsal iktisat' %}
            <a href="/category.html#behavioural">{{ page.tag | join: ' #' }}</a>
  
          {% elsif post.tag == 'psikoloji' and post.tag == 'felsefe' and post.tag == 'sosyoloji' and post.tag == 'sosyal bilimler' and post.tag == 'sosyal psikoloji' %}  
             <a href="/category.html#social">{{ page.tag | join: ' #' }}</a>
  
          {% else %}
             <a href="/category.html#economics">{{ page.tag | join: ' #' }}</a>
          {% endif %}
  </span>
