{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<em> <span style="color: #777;">{{ year.name }}</span> </em> 
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
  
{% assign meses = "Enero|Febrero|Marzo|Abril|Mayo|Junio|Julio|Agosto|Septiembre|Octubre|Noviembre|Diciembre" | split: "|" %}
  {% assign m = site.posts.post.date | date: "%-m" | minus: 1 %}
  {% assign month = meses[m] %}

    {% assign mes_index = site.posts.post.date | date: "%-m" | minus: 1 %}
    {% assign mes = site.data.tr.meses[mes_index] %}


{% for month in postsByMonth %}
{{ mes }}
{{ mes_index }}
{{ month }}
{{ site.posts.post.date }}
<em><span style="text-align: right; float: right; color: #777;"> {{ month.name }} </span></em><br />
<p>
  {% for post in month.items %}
    <p>
      <div class="decorated" style="font-size: 85%;"><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a> &nbsp; <span style="text-align: right; float: right">{{- post.date | date: '%e' -}}</span></div>
</p>
  {% endfor %}
</p>

{% endfor %}
{% endfor %}

<!--<a href="/summary.html#{{ post.url | split: "/" | last | replace: ".html","" }}">tl;dr</a>-->
