<span
	style="font-size: 100%; cursor: default; color: #777"
	class="link1"
>
	# {% if page.tag == 'BiographyLifeStories' %}
	<a href="/categories/biography-life-stories">biography & life stories</a>

	{% elsif page.tag == 'BusinessEconomics' %}
	<a href="/categories/business-economics">business & economics</a>

	{% elsif page.tag == 'ConsumerMarketing' %}
	<a href="/categories/consumer-marketing">consumer & marketing</a>

	{% elsif page.tag == 'CreativityExpression' %}
	<a href="/categories/creativity-expression">creativity & expression</a>

	{% elsif page.tag == 'EnvironmentSustainableLiving' %}
	<a href="/categories/environment-sustainable-living"
		>environment & sustainable living</a
	>

	{% elsif page.tag == 'HealthNutrition' %}
	<a href="/categories/health-nutrition">health & nutrition</a>

	{% elsif page.tag == 'HistoryPoliticalThought' %}
	<a href="/categories/history-political-thought"
		>history & political thought</a
	>

	{% elsif page.tag == 'PersonalGrowthProductivity' %}
	<a href="/categories/personal-growth-productivity"
		>personal growth & productivity</a
	>

	{% elsif page.tag == 'PhilosophyMeaning' %}
	<a href="/categories/philosophy-meaning">philosophy & meaning</a>

	{% elsif page.tag == 'PsychologyMentalLife' %}
	<a href="/categories/psychology-mental-life">psychology & mental life</a>

	{% elsif page.tag == 'ScienceDiscovery' %}
	<a href="/categories/simple-living-everyday-comforts">science & discovery</a>

	{% elsif page.tag == 'SimpleLivingEverydayComforts' %}
	<a href="/categories/simple-living-everyday-comforts"
		>simple living & everyday comforts</a
	>

	{% elsif page.tag == 'SocietyCulture' %}
	<a href="/categories/society-culture">society & culture</a>

	{% elsif page.tag == 'TechnologyTheDigitalWorld' %}
	<a href="/categories/technology-the-digital-world"
		>technology & the digital world</a
	>

	{% elsif page.tag == 'WorkCareer' %}
	<a href="/categories/work-career">work & career</a>

	{% else %}
	<a href="/categories">n/a</a>
	{% endif %}
</span>
<br />
