{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
<em> <span style="color: #777;">{{ year.name }}</span> </em> 
  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}

{% for month in postsByMonth %}

{% if month.name == 'January' %}
Januari
{% elsif month.name == 'February' %}
Februari
{% elsif month.name == 'March' %}
Mars
{% elsif month.name == 'April' %}
April
{% elsif month.name == 'May' %}
Maj
{% elsif month.name == 'June' %}
Juni
{% elsif month.name == 'July' %}
Juli
{% elsif month.name == 'August' %}
Augusti
{% elsif month.name == 'September' %}
September
{% elsif month.name == 'October' %}
Oktober
{% elsif month.name == 'November' %}
November 
{% elsif month.name == 'December' %}
December
{% endif %}

<em><span style="text-align: right; float: right; color: #777;"> {{ month.name | downcase }} </span></em><br />
<p>
  {% for post in month.items %}
    <p>
      <div class="decorated" style="font-size: 85%;"><a href="{{ post.url | relative_url }}">{{ post.title | downcase }}</a> &nbsp; <span style="text-align: right; float: right">{{- post.date | date: '%e' -}}</span></div>
</p>
  {% endfor %}
</p>
{% endfor %}
{% endfor %}

<!--<a href="/summary.html#{{ post.url | split: "/" | last | replace: ".html","" }}">tl;dr</a>-->
