<<style type="text/css">
  .parent {
    position: relative;
  }
  .image10 {
    position: relative;
    outline: 0px solid #fff;
    outline-offset: -0px;
    border: 0px solid #fff;
    -webkit-filter: grayscale(10%);
    	-webkit-box-shadow: 0 8px 6px -6px black;
  	   -moz-box-shadow: 0 8px 6px -6px black;
  	        box-shadow: 0 8px 6px -6px black;
  }
  .image10:hover {
    border-radius: 0%;
    outline: 0px solid #fff;
    outline-offset: 0px;
    opacity: 0.8;
    -webkit-filter: grayscale(01%);
  }
    .image11 {
    position: relative;
    outline: 0px solid #fff;
    outline-offset: -0px;
    border: 0px solid #fff;
  }
  .image11:hover {
    border-radius: 0%;
    outline: 0px solid #fff;
    outline-offset: 0px;
    opacity: 0.9;
    -webkit-filter: grayscale(01%);
  }
  .ted11 a {
    text-decoration: none !important;
    background: none !important;
  }
</style>

<div class="parent" style="clear: both;">
      <a href="#belgesel">
        <img alt="www.thebookish.de" class="image11" src="https://1.bp.blogspot.com/-jWoThxIp97Y/YE2ro-RvB2I/AAAAAAAAR3M/anaql9qN1gs4ZZTpir-s-m52oIW22nAmgCLcBGAsYHQ/s320/Blog.png" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 4%; width: 22%;" title="www.thebookish.de" /></a>

      <a href="#belgesel">
        <img alt="www.thebookish.de" class="image11" src="https://1.bp.blogspot.com/-jWoThxIp97Y/YE2ro-RvB2I/AAAAAAAAR3M/anaql9qN1gs4ZZTpir-s-m52oIW22nAmgCLcBGAsYHQ/s320/Blog.png" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 4%; width: 22%;" title="www.thebookish.de" /></a>

      <a href="#belgesel">
        <img alt="www.thebookish.de" class="image11" src="https://1.bp.blogspot.com/-jWoThxIp97Y/YE2ro-RvB2I/AAAAAAAAR3M/anaql9qN1gs4ZZTpir-s-m52oIW22nAmgCLcBGAsYHQ/s320/Blog.png" style="float: left; height: 70%; margin-bottom: 1em; margin-right: 4%; width: 22%;" title="www.thebookish.de" /></a>

      <a href="#belgesel">
        <img alt="www.thebookish.de" class="image11" src="https://1.bp.blogspot.com/-jWoThxIp97Y/YE2ro-RvB2I/AAAAAAAAR3M/anaql9qN1gs4ZZTpir-s-m52oIW22nAmgCLcBGAsYHQ/s320/Blog.png" style="float: left; height: 70%; margin-bottom: 1em; width: 22%;" title="www.thebookish.de" /></a>
      <br />
    </div>
