<center>
	<a
		href="https://affirmation.next52books.com"
		target="_blank"
		title="olumlamalar - next52books.com"
		><img
			src="https://www.next52books.com/assets/leaf.png"
			style="
				width: 35px;
				height: 35px;
				display: inline-block;
				vertical-align: text-bottom;
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
			"
			alt="olumlamalar - next52books.com"
			title="olumlamalar - next52books.com"
	/></a>
	&nbsp;
	<a
		href="https://www.instagram.com/next52books/"
		target="_blank"
		title="instagram - @hepkitaplakal"
		><img
			src="https://www.next52books.com/assets/instagram.png"
			style="width: 25px; height: 25px; display: inline-block"
			alt="instagram - @next52books"
			title="instagram - @next52books"
	/></a>
	&nbsp;
	<a
		href="https://vegan.next52books.com"
		target="_blank"
		title="vegan tarifler - next52books.com"
		><img
			src="https://www.next52books.com/assets/leaf.png"
			style="
				width: 35px;
				height: 35px;
				display: inline-block;
				vertical-align: text-bottom;
			"
			alt="vegan tarifler - next52books.com"
			title="vegan tarifler - next52books.com"
	/></a>
</center>
