// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
// w width:fit-content   max-width: 640px;
html, body { background: white; }

/*:root {
   font-size: 62.5%;  
}*/

html { 
  height: 100%; 
  /*font-size: 100%;*/  /* 10px 62.5% */
}

body {
  color: black;
  /* font-family: system-ui, sans-serif; */
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.188rem; /*1.125rem - 1.6rem;*/  
  line-height: 2; /* 16px */
  /* letter-spacing: 0.5px; */
  margin: 0;
  min-height: 100%;
}

.post-meta { text-align: right; font-size: 100%; color: #777; font-style: italic; }

h2, h3, h6 { margin-top: 3rem; }
h4 { font-family: 'EB Garamond', serif; font-size: 120%; font-weight: 500; font-style: italic; margin-top: 3rem; }
h5 { font-size: 100%; margin-top: 3rem; font-style: italic; font-weight: 400; }

hr { 
  margin: 2rem 0;
  border: 0.01em solid;
  border-color: #e5e5e5;
  width: auto;
}

p { margin: 1rem 0; }

li { margin: 0.4rem 0; list-style-type: circle; }

/* li::before {content: "*"; = Insert content that looks like bullets = padding-right: 8px; } */

.cat1 {
  margin: 0.8rem;
}
.cat2 {
  text-decoration: underline !important; 
  -webkit-text-decoration-color: rgba(255, 255, 102, 0.5) !important; 
  text-decoration-color: rgba(255, 255, 102, 0.5) !important; 
  text-decoration-thickness: 6px !important;
}
.cat2:hover {
	color: #777 !important;
}
.toc1 ul { list-style-type: none !important; }
.toc1 li { list-style-type: none !important; margin: 0; padding: 0; }
.footnotes ul { list-style-type: decimal !important; margin: 0 !important; padding: 0 !important; }
.footnotes li { list-style-type: decimal !important; margin: 0 !important; padding: 0 !important; }
*:target { background: yellow; }

.w {
  width: fit-content;
  max-width: 640px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.line1 {
  border-left: 1px solid #ffff66;
  text-align: left;
  font-size: 100%;
  padding-left: 6%;
}
//  text-align: left;
//  border: 1;
//  &:before { content: '___' }
//  &:after { content: attr(data-content) '___' }

table { width: 100%; }

table, th, td {
  border: thin solid;
  border-color: #d6d6d6;
  border-collapse: collapse;
  padding: 0.4rem;
  word-wrap: break-word;
  font-size: 85%;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

.footnotes::before {
  display: block;
  content: "Dipnot:";
  font-size: 100%;
  color: #777; 
  font-weight: 500;
  font-style: italic;
}

.footnotes {
  font-style: italic;
  color: #777;
}

a.footnote:before {   
 content: "[";
}

a.footnote:after {
    content: "]";
}

.reversefootnote {
  visibility: hidden;
  position: relative;
}

.reversefootnote:after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "\21B2";
}

blockquote {
  font-style: italic;
  border-left: 2px solid #ffff66;
  padding: 1rem;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: #404040;
  text-decoration:none !important;
}
/* a:visited {color: #add8e6;text-decoration: none !important;} */
/* ::selection {color: red; background: yellow;} */
::selection {
  background: #ffffcc;
}
a:hover {
  color: #777777; /* 06adf8 alternative light blue #add8e6 */
  text-decoration: none !important; /* underline */ 
  /* -webkit-text-decoration-color: #777;  Safari */  
  /* text-decoration-color: #777 !important; */ 
  /* text-decoration-thickness: 0.01em !important; */ 
}
.link1 a {
    /*color: #06adf8; */
    /*text-decoration: none !important; */
    line-height: .85;
    background-image: linear-gradient(0deg, rgba(255, 255, 102, 0.6), rgba(255, 255, 102, 0.6)); /* #ffff66 */
    background-size: 5px 5px;
    background-repeat: repeat-x;
    background-position: bottom;
}
.link1 a:hover {
    /* color: #06adf8; */
    /* text-decoration: underline !important; */
    /* -webkit-text-decoration-color: #777; Safari */ 
    /* text-decoration-color: #777 !important; */
    text-decoration: none !important;
    border-bottom-color: rgba(255, 255, 51, 0.8) !important;
    background-image: linear-gradient(to top, rgba(255, 255, 51, 0.8), rgba(255, 255, 51, 0.8)) !important; /* #ffff33 */
}
.link22 a{
    color: black;
    text-decoration: none !important;
}
.link22 a:hover {
      color: #777; /* #06adf8 */
      text-decoration: none !important;
}

.link11 a { /* link1 - original code */
  color: blue; 
  text-decoration: none !important;
} 
.link11 a:hover { /* link1 - original code */
  color: blue;
  text-decoration: underline !important;
}

.link2 a { /* from blogger #cdf8e8 */
  color: #777 !important; 
  text-align:left;
  padding:5px;
  margin:10px 0;
  background: linear-gradient(to top, #cdf8e8 20%, transparent 20%);
} 
.link2 a:hover { /* from blogger #cdf8e8 */
  color: #777 !important;
  text-decoration: none !important;
  background-color: #cdf8e8;
} 

.link3 a {
  color: #777 !important; 
  text-align:left;
  padding:5px;
  margin:10px 0;
  border-bottom: 2px solid #06adf8;
} 
.link3 a:hover {
  color: blue !important;
  text-decoration: none !important;
  border-bottom: 0px;
} 

.link4 a {
    line-height: .85;
    background-image: linear-gradient(0deg, rgba(237, 242, 247, 0.6), rgba(237, 242, 247, 0.6)); /* #ffff66 */
    background-size: 5px 5px;
    background-repeat: repeat-x;
    background-position: bottom;
}
.link4 a:hover {
    text-decoration: none !important;
    border-bottom-color: rgba(255, 255, 51, 0.8) !important;
    background-image: linear-gradient(to top, rgba(255, 255, 51, 0.8), rgba(255, 255, 51, 0.8)) !important; /* #ffff33 */
}

.title1 { /* home & archive {{ site.title }} */
   color: black;
   cursor: default !important;   
   text-decoration: underline !important; 
   -webkit-text-decoration-color: rgba(255, 255, 102, 0.5); /* #f3cf2e #f3d02e */  /* Safari */ /* #ffff66 */
   text-decoration-color: rgba(255, 255, 102, 0.5) !important; /* rgba(205, 248, 232, 0.7) */
   text-decoration-thickness: 6px !important; 
}
.title2 { 
   margin-top: 10%;
   margin-bottom: 10%;
   font-size: 130%;
   cursor: default;
}
// .xxx decorated under overflow      text-align: center; margin: 0 20px; width: 100vw;      

.decorated {
     overflow: hidden;
 }
.decorated a.active {
	color: #777;
	font-style: oblique;
}
.decorated > span{
    position: relative;
    display: inline-block;
}
.decorated > span:before, .decorated > span:after{
    content: '';
    position: absolute;
    top: 90%;
    border-bottom: 1px dotted #808080;
    width: 100vw;
    margin: 0 20px;
}
.decorated > span:before{
    right: 0%;
}
.decorated > span:after{ 
    left: 0%;
}

progress {
  /* style rules */
background-color: #fff;
border-color: #f8f8f8;

}
progress::-webkit-progress-bar {
  /* style rules */
background-color: #fff;
border: #dfdfdf solid 2px;

}
progress::-webkit-progress-value {
  /* style rules */
background-color: #dfdfdf;
border: #dfdfdf solid 2px;

}
progress::-moz-progress-bar {
  /* style rules */
background-color: #fff;
border: #dfdfdf solid 2px;
}

  details {
  color: #777;
}

details > summary {
  padding: 2px 6px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > p {
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  padding: 2px 6px;
  margin: 0;
}

// 262   width: 15em;
// .bookinforight {text-align: left; float: left; width: 50%;}
// .bookinfoleft {float: right; width: 50%;}

// .PageNavigation {font-size: 14px; display: block; width: auto; overflow: hidden;}

// .PageNavigation a {display: block; width: 50%; float: left; margin: 1em 0;}

// .PageNavigation .next {text-align: right; float: right;}

// tr:nth-child(even) { background: #fff; }
// th:first-of-type { width: 5%; }
// th:nth-of-type(2) { width: 65%; }
// th:nth-of-type(3) { width: 30%; }
