---
layout: page-9
title: 'kategoriler'
---
<style>
  .image-gallery {overflow: auto; margin-left: -1%!important;}
  .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; width: 19%; text-align: center; text-decoration: none!important;}
  .image-gallery a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
  .image-gallery a img {width: 100%; display: block;}
</style>

<a name="vegan"></a>
    <div class="link1"><a href="#vegan">veganlık + hayvan hakları + etik</a></div> 
{% for post in site.posts %}
    {% if post.tag == 'veganlık' or
          post.tag == 'hayvan hakları' or
          post.tag == 'etik' %}
      <div class="image-gallery"><img src="{{ post.image }}"/></div>
    {% endif %}
{% endfor %} 
    <br />
