---
layout: default
---
<!-- #reread -->
<span class="link1">{%-include back_link.html-%}</span>
<h4>{{ page.title }}</h4>

{%-include post_list-2.html category=page.which_category-%}

<br />
<span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
🌿 <em>2013-{{ "now" | date: "%Y" }}</em> &nbsp;
</span>
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
             <em>
              <a href="/now.html">şimdi</a> &nbsp;
             <a href='/bookshelf.html'>kitaplık</a> &nbsp;
             <a href='/posts.html'>thebookish.de</a> &nbsp;
             </em>
                               </span>
