---
layout: default
---
<!-- new & old & reread & books (a.k.a eng) -->

<span class="link1">{%-include back_link.html-%}</span>
<h4>{{ page.title }}</h4>

{%-include post_list-3.html category=page.which_category-%}

<br />
<span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
🌿 2013-{{ "now" | date: "%Y" }} &nbsp;
</span>
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
             <a href="/now.html">şimdi</a> &nbsp;
             <a href='/bookshelf.html'>kitaplık</a> &nbsp;
             <a href="https://www.goodreads.com/thebookishde/" target="_blank"><i class="fab fa-goodreads-g"></i></a> &nbsp;
             <a href="https://www.instagram.com/thebookish.de/" target="_blank"><i class="fab fa-instagram"></i></a> 
                  </span>
