---
layout: default
---

<!--<span class="link1">{%-include back_link.html-%}</span>

<h4>{{ page.title }}</h4>-->
<p style="color: blue; cursor: default;">notes.thebookish.de</p>

{%-include post_list-2.html category=page.which_category-%}

<br />

<!-- 〰〰〰 -->

<h2>Archive</h2>
{% assign postsByYearMonth = site.posts | group_by_exp:"post", "post.date | date: '%Y %b'"  %}
{% for yearMonth in postsByYearMonth %}
  <h3>{{ yearMonth.name }}</h3>
    <ul>
      {% for post in yearMonth.items %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
{% endfor %}

<!-- 〰〰〰 -->

<span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
🌿 <em>2021</em> 
</span>
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
             <em>
             <a href="/now.html">şimdi</a> &nbsp;
             <a href='/bookshelf.html'>kitaplık</a> &nbsp;
             <a href="https://www.thebookish.de/">thebookish.de</a>
             </em>
                               </span>
