---
layout: default
---

<span class="link1">{%-include back_link.html-%}</span>

<h4>{{ page.title }}</h4>

{%-include post_list.html category=page.which_category-%}

<br />
<span style="text-align: left;">
  <em>son güncelleme: Mayıs, 2021</em>
</span>
<span class="link1" style="text-align: right; float: right;">
             <em>
             <a href="/now.html">şimdi</a> &nbsp;
             <a href='https://www.thebookish.de/'>thebookish.de</a> 
             </em>
                                </span>
