---
layout: default
---

<!--<span class="link1">{%-include back_link.html-%}</span>

<h4>{{ page.title }}</h4>-->
<p style="color: blue; cursor: default;">notes.thebookish.de</p>

{%-include post_list-2.html category=page.which_category-%}

<!-- xxx -->
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <span>{{ year.name }}</span>

  {% assign postsByMonth = year.items | group_by_exp:"post", "post.date | date: '%B'" %}
{% for month in postsByMonth %}
<span>{{ month.name }}</span>

{% assign postsByDay = month.items | group_by_exp:"post", "post.date | date: '%d'" %}
{% for day in postsByDay %}
<span>{{ day.name }}</span>

<p>
  {% for post in month.items %}
  <p>
  {% for post in day.items %}
    <p>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </p>
  {% endfor %}
</p>
{% endfor %}
</p>

{% endfor %}
{% endfor %}

<!-- xxx -->


<br />
<span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
🌿 <em>2013-2021</em> &nbsp;
</span>
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
             <em>
             <a href="/now.html">şimdi</a> &nbsp;
             <a href='/bookshelf.html'>kitaplık</a> &nbsp;
             <a href="https://www.thebookish.de/">thebookish.de</a>
             </em>
                               </span>
