---
layout: default
---
<header>
  <p style="color: blue; cursor: default;">{{ site.title }}</p>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<h4>{{ site.posts.first.title }}</h4>
{{ site.posts.first.content }}
<!-- {{ site.posts.last.url }} -->
<span style="font-size: 85%; color: #777;">
  <i>
    {{ page.kitap }}
      <br /> 
    {{ page.tr }}
      <br />   
    {{ page.yazar }}
      <br /> 
    {{ page.yil }}
      <br />
    {{ page.sayfa }} sayfa 
      <br />
    </span>
    <span class="link1" style="font-size: 85%;">
      <a href="{{ page.goodreads }}" target="_blank">goodreads</a>
    </span>
  </i>
<br />
{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<br />
  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
🌿 <em>2021</em> &nbsp;
</span>
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
             <em>
             <a href="/now.html">şimdi</a> &nbsp;
               <a href="https://www.thebookish.de/p/kitap.html">kitaplık</a> &nbsp;
             <a href="https://www.thebookish.de/">thebookish.de</a> 
             </em>
  </span>
