---
layout: default
# <span id="links">🪴</span>
---

<header>
  <a href="#links">🪴</a>
  <p class="post-meta">
        {% assign mes_index = site.posts.first.date | date: "%-m" | minus: 1 %}
        {% assign mes = site.data.tr.meses[mes_index] %}
    <time datetime="{{ site.posts.first.date }}">{{ mes }} {{ site.posts.first.date | date: "%-d, %Y" }}</time>
  <p class="title2" style="display: none;">{%-include icon1.html-%}{{ site.title }}</p>
  <p style="text-align: left;">🪴1</p>
</header>

{%-include home1.html-%}

{{ content }}

<br />
<br />
<i><center><div class="link1" id="links"><a href="/now">:şimdi</a> &nbsp; <a href="/menu">:başka ne var?</a> </div> </center></i>
     
     
<br />
<br />
{%-include post_list-8.html-%}
<br />
<br />
<center><div class="link1"><a href='/search.html' title="ara"><img src="/assets/search.jpg" alt="search" style="width:15px; height:15px; display: inline-block;"></a></div></center>

