---
layout: default
---
<header>
  <p style="color: #777; cursor: default;">{{ site.title }}</p>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}

<!--
<div>
  {% for post in site.posts %}
    <p>
      <a href="{{ post.url }}">{{ post.title }}</a>
      <p>{{ post.description }}</p>
    </p>
  {% endfor %}
</div>

<div>
  {% for post in site.posts limit:1 %}
    <p>
  <h4><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></h4>
      <p>{{ site.posts.first.content }}</p>
    </p>
  {% endfor %}
</div>
-->


<br />
  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
  🌿 <em> 2013-{{ "now" | date: "%Y" }}</em> &nbsp;
</span>
<span style="text-align: right; float: right; font-size: 85%;">
  <span class="link1">
             <em>
                <a href="/now.html">şimdi</a> &nbsp;
                <a href='/bookshelf.html'>kitaplık</a> &nbsp;
                <a href='/books.html'>english</a> &nbsp;</em>
                <a href='/map.html' title='sitemap'><i class="far fa-map"></i></a> &nbsp;
                <a href="https://www.instagram.com/thebookish.de/" target="_blank" rel="noreferrer,nofollow" title="instagram"><i class="fab fa-instagram"></i></a> &nbsp;
                <a href="https://www.goodreads.com/thebookishde/" target="_blank" rel="noreferrer,nofollow" title="goodreads"><i class="fab fa-goodreads-g"></i></a>
</span>        
</span> 
