---
layout: default
---

<span class="link1">{%-include back_link.html-%}</span>

<h4>{{ page.title }}</h4>

{{ content }}

<br />
  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
    <em>son güncelleme: {{ page.last_modified_at | date: "%B %-d, %Y" }}</em> &nbsp;
</span> 
<span class="link1" style="text-align: right; float: right;">
  <em>             
    <a href="https://www.thebookish.de/p/kitap.html">kitaplık</a> &nbsp;
    <a href='https://www.thebookish.de/'>thebookish.de</a>
  </em> 
                                </span>
