---
layout: default
---
<!-- page: 'bookmarks' -->
<span class="link1">{%-include back_link.html-%}</span>

<h4>{{ page.title }}</h4>

{{ content }}

  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
   🌿 son güncelleme: {{ page.last_modified_at | date: "%B %-d, %Y" }} &nbsp;
</span> 
 <span class="link1" style="text-align: right; float: right; font-size: 85%;">
      <a href="/now.html">şimdi</a> &nbsp;
      <a href='/bookshelf.html'>kitaplık</a> &nbsp;
      <a href='/posts.html'>thebookish.de</a>
    </span>
