---
layout: default
---
<!-- for 404 page only -->

<span class="link1">{%-include back_link.html-%}</span>

{{ content }}

<br />
  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
  🌿 <em>2013-{{ "now" | date: "%Y" }}</em>
</span> &nbsp;
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
  <em><a href="/now.html">şimdi</a> &nbsp;
             <a href='/bookshelf.html'>kitaplık</a> &nbsp;
      <a href='/posts.html'>thebookish.de</a></em> 
                                </span>
