---
layout: default
---
<!-- page: 'bookshelf' -->
<span class="link1">{%-include back_link.html-%}</span>

<i><h4>{{ page.title }}</h4></i>

{{ content }}

  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
   🌿 <em>son güncelleme: {{ page.last_modified_at | date: "%B %-d, %Y" }}</em> &nbsp;
</span> 
 <span class="link1" style="text-align: right; float: right; font-size: 85%;">
     <em><a href="/now.html">şimdi</a> &nbsp;
       <a href="/worth-rereading.html">#yeniden</a> &nbsp;
     <a href='/posts.html'>thebookish.de</a></em>
    </span>
