---
layout: default
---
<!-- page: 'summary' -->
<span class="link1">{%-include back_link.html-%}</span>

<i><h4>{{ page.title }}</h4></i>

{{ content }}

  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
  🌿 <em>son güncelleme: {{ "now" | date: "%B %-d, %Y" }}</em> &nbsp;
</span> 
 <span class="link1" style="text-align: right; float: right; font-size: 85%;">
   <i><a href='/now.html'>şimdi</a> &nbsp; 
      <a href='/bookshelf.html'>kitaplık</a> &nbsp;
      <a href='/posts.html'>thebookish.de</a></i>
    </span>
