---
layout: default
---
<!-- for 404 page only -->

<span class="link1">{%-include back_link.html-%}</span>

{{ content }}

<br />
  <span style="text-align: left; font-size: 85%; color: #777; cursor: default;">
  🌿 <em>2021</em>
</span> &nbsp;
<span class="link1" style="text-align: right; float: right; font-size: 85%;">
  <em><a href="/now.html">şimdi</a> &nbsp;
    <a href="/worth-rereading">#yenidenoku</a> &nbsp;
      <a href="https://www.thebookish.de/p/kitap.html">kitaplık</a> &nbsp;
      <a href='https://www.thebookish.de/'>thebookish.de</a></em> 
                                </span>
