---
layout: default
---

<!-- <span class="link1">{%-include back_link.html-%}</span> -->

<article>
  <p class="post-meta">
        {% assign mes_index = page.date | date: "%-m" | minus: 1 %}
        {% assign mes = site.data.tr.meses[mes_index] %}
    <time datetime="{{ page.date }}">{{ mes }} {{ page.date | date: "%-d, %Y" }}</time>
 </p>
  <i><h4><a href="/">{{ page.title }}</a></h4></i>

  {{ content }}
</article>
<br />

{%-include post-footer.html-%}
{%-include insta.html-%}
{%-include post-tag.html-%} 
{%-include star-rating.html-%}
{%-include copy.html-%}
{%-include zettelkasten.html-%}
{%-include post-nav1.html-%}
<div style="clear: both;"></div>
<br />
{%-include footer-links8.html-%}
<br />
<br />
{%-include post_list-9.html-%}
<br />
<br />
