---
layout: default
---

<span class="link1">{%-include back_link.html-%}</span>

<article>
  <p class="post-meta">
    <span style="font-size: 100%; color: #777;"> <time datetime="{{ page.date }}">{{ page.date | date: "%B %-d, %Y" }}<br />week {{ page.date | date: "%V" }}</time> </span>
    
  </p>
  
<i><h4>{{ page.title }}</h4></i>

  {{ content }}
</article>
<br />

{%-include post-footer.html-%}
{%-include post-tag.html-%}

<div style="clear: both;"></div>
<br />
{%-include icon1.html-%}
{%-include year.html-%}
{%-include footer-links1.html-%}
